/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

#pac-input {
  width: 300px; /* Set the width of the input field */
  padding: 10px; /* Add padding to the input field */
  border: 1px solid #ccc; /* Add a border around the input field */
  border-radius: 5px; /* Add rounded corners to the input field */
  font-size: 16px; /* Set the font size of the input field */
  background-color: #fff; /* Set the background color of the input field */
}

#pac-input:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #007bff; /* Change the border color when the input field is focused */
}
/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}