html {
    max-width: 100%;
    max-height: 100%;
}

/* all font families are added in html. */

/*Font Family: Roboto Serif, for SacCares.*/
/*Font Family: Inter, for everything else.*/
.blue-header {
    text-align: center;
    color: #20B7F7;
    font-size: 38px;
    font-weight: bolder;
    word-wrap: break-word
}
/*Font Family: Lato, added in html.*/
.green-header {
    text-indent: 3em;
    color: #36453B;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word
}
/*Font Family: Inter, added in html.*/
.body-text {
    text-align: left;
    color: #000000;
    font-size: 20px;
    word-wrap: break-word
}
/*Font Family: Inter, added in html.*/
.blue-body-text {
    text-align: center;
    color: #20B7F7;
    font-size: 18px;
    word-wrap: break-word
}
/*Font Family: Inter, added in html.*/
.body-text-highlighted {
    text-align: left;
    color: #ffffff;
    font-size: 20px;
    word-wrap: break-word
}

.tower-bridge {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 1475px;
    height: 700px;
    border-radius: 15px;
}

.sac-logo {
    position: relative;
    top: 80px;
    left: 20px;
    max-width: 250px;
}