/* General Styles */
html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
body {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

/* Containers */
#side-container {
    position: static;
    min-width: 25vw;
    min-height: 100vh;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
#top-container {
    position: relative;
    min-width: 80vw;
    max-height: 10vh;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}
.transparent-box {
    position: absolute;
    width: 20vw;
    background: rgba(254.99, 254.99, 254.99, 0.35);
    backdrop-filter: blur(5.90px);
}

/* Button Classes and ID's */
.side-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border-color: white;
    width: 20vw;
    height: 10vh;
    cursor: pointer;
}
.side-button:hover {
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.top-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border-color: #20B7F7;
    background-color: white;
    width: 8vw;
    height: 7vh;
    cursor: pointer;
}
.top-button:hover {
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
#side-button {
    position: relative;
    top: 8vh;
    margin-bottom: 1vh;
}
#active-button {
    position: relative;
    top: 8vh;
    margin-bottom: 1vh;
    font-weight: bolder;
    background-color: #20B7F7;
    color: white;
}
#about-button {
    position: relative;
    left: 21vw;
    bottom: 7vh;
}
#sign-in-button {
    position: relative;
    left: 30vw;
    bottom: 14vh;
}

/* Text Classes and ID's */
.title-header {
    position: static;
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
    color: #20B7F7;
    font-weight: bolder;
}
#welcome-message {
    text-align: left;
    margin-left: 1vw;
    margin-top: 2vh;
}
#green-header {
    position: relative;
    text-align: left;
    color: #36453B;
}
.top-button-text {
    display: block;
    text-align: center;
    padding: 0px;
    font-size: 1.5em;
    color: #20B7F7;
}
.side-button-text {
    display: block;
    text-align: left;
    padding: 0px;
    margin-top: -1vh;
    margin-left: 6vw;
    font-size: 2em;
}

/* Image Classes */
#sac-logo {
    position: relative;
    max-width: 18vw;
    left: 2.5rem;
}
.vector {
    display: block;
    position: relative;
    top: 2.5vh;
    left: 1.5vw;
    width: 2vw;
}
#active-vector {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(216deg) brightness(105%) contrast(106%);
}
#tower-bridge {
    position: relative;
    bottom: 9vh;
    left: 2vw;
    max-width: 70vw;
    border-radius: 7px;
}