#locationCheck {
  visibility: hidden;
}

  /* Default button style */
button {
  background-color: #20B7F7;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #70c2e6;
}
/* Style when button is clicked */
button:active {
  background-color: #0056b3;
}

/* Additional style for clicked button */
button.clicked {
  background-color: #28a745;
}
