/* Always set the map height explicitly to define the size of the div element
   that contains the map. */

   .map-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; /* Adjust the width as needed */
    background-color: #f0f0f0;
  }
  
  #map {
    height: 100%;
  }
  
  #zipcodeCheck {
    visibility: hidden;
  }